body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completed-task {
  text-decoration: line-through;
  color: #db3545;
}

.header{
  color: #de1313be;
}

.mt-6{
  margin-top:6rem;
}

.list-group{
  overFlow:scroll;
  height: 30rem;
}